/*
Style Guide:
    Sans-serif heading
    Serif body font
    Sans-serif interaction
    
Font sizes:
    Header level 1: 42px, level 2: 36px, level 3: 28px
    Body text: 20px
    Small text (interaction): 14px

*/

#navbar {
    display: block;
    background-color: #13A;
    color: #FFF;
    font-family: sans-serif;
    z-index: 1;
    height: 2.6em;
    line-height: 2.6em;
}

#navbar .nav-item {
    z-index: 0;
    display: inline-block;
    line-height: 2.6em;
    vertical-align: top;
    text-align: left;
    background-color: #13A;
    cursor: pointer;    
    font-weight: normal;
}

#navbar .nav-item :hover {
    background-color: #55F;
}

#navbar .nav-item span {
    display: inline-block;
    padding: 0 20px 0 20px;
}

#navbar .nav-item .nav-item-child {
    display: list-item;
    list-style-type: none;
    z-index: 2;
    background-color: #129;
    color: #FFF;
    text-align: left;
    position: relative;
    border-left: 2px solid black;
}

#navbar .nav-item .nav-item-child :hover {
    background-color: #FFF;
    color: #018;
}

#titlebar {
    height: 10em;
    width: 100%;
    background-color: #222;
    color: #FFF;
    overflow: hidden;
}

#titlebar h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 1%;
    top: 0.5em;
    font-size: 2.7em;
    font-family: sans-serif;
}

#titlebar h3 {
    position: absolute;
    font-family: monospace;
    color: #DDD;
    font-style: italic;
    left: 1%;
    top: 4em;
    font-size: 1.4em;
}

#username-tag {
    font-size: 20px;
}

#container {
    background-color: #EEE;
    padding: 0% 3% 0% 3%;
    min-height: 80.5%;
    display: block;
}

#content {
    z-index: 1;
    padding: 3% 2% 1% 2%;
    background-color: #FFF;
    color: #000;
    min-height: 96%;
}

.blog-post-listing {
    display: block;
    border-bottom: 3px solid #DDD;
    padding: 1% 1% 1% 1%;
    width: 98%;
    cursor: pointer;
}

div .blog-post-listing h3 {
    font-family: serif;
    font-weight: normal;
    font-size: 2em;
    text-decoration: underline;
    margin: 0 0 5px 0;
    padding: 0;
}

.blog-post-description {
    font-style: italic;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: lighter;
}

.blog-post-tag {
    display: inline-block;
    font-family: monospace;
    font-size: 1em;
    background-color: #CDF;
    color: #46F;
    padding: 0px 10px 0px 10px;
    margin-top: 3px;
    margin-right: 5px;
    line-height: 25px;
}

.blog-post-date {
    font-family: sans-serif;
    font-size: 0.8em;
}

div .blog-post-content {
    margin: 0 45px 15px 45px;
    font-family: serif;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #111;
    width: 52%;
    padding-left: 18%;
}

.blog-post-content code {
    font-family: monospace;
    background-color: #BBB;
    color: #000;
    padding: 0 5px 0 5px;
    display: inline-block;
}

.blog-post-content pre code .hljs {
    line-height: 1.1em;
}

.blog-post-content a {
    text-decoration: none;
    color: #35F;
}

.blog-post-content a :visited {
    text-decoration: none;
    color: #35F;
}

.blog-post-content h1, h2, h3 {
    font-family: sans-serif;
}

.blog-post-title {
    text-decoration: underline;
    font-family: serif;
    font-size: 2em;
    margin-bottom: 8px;
    margin-top: 12px;
}

.blog-post-content .hljs pre code {
    background-color: #DDD;
}navbar .nav-item : {
    background-color: #55F;
    color: #F00;
}