html, body {
    padding: 0px;
    margin: 0;
    background-color: white;
    height: 100%;
    width: 100%;
}

#titlebar {
    font-family: serif;
}

#titlebar h3 {
    font-family: monospace;
    color: #BBB;
}

#container {
}

#content {

}

#navbar {

}

.nav-item {

}

.nav-item-child {

}