html, body {
    padding: 0px;
    margin: 0;
    background-color: white;
    height: 100%;
    width: 100%;
}

#titlebar {
    font-family: serif;
}

#username-tag a {
    text-decoration: none;
    color: #EEE;
}

#username-tag a :visited {
    color: #EEE;
    text-decoration: none;  
}