html, body {
border: 0px;
margin: 0px;
padding: 0px;
text-align: center;
background-color: #EEE;
}

#header {
text-align: left;
font-family: sans-serif;
background-color: white;
color: black;
font-size: 22px;
padding-top: 60px;
padding-bottom: 15px;
padding-left: 10px;
border-bottom: 2px solid #000;
}

#header-title {
text-align: left;
margin: 0px;
}

#navbar {
text-align: left;
display: block;
height: 42px;
background-color: #D20;
font-family: sans-serif;
color: white;
}

.nav-option {
text-align: center;
display: inline-block;
height: 42px;
background-color: #D20;
width: auto;
line-height: 42px;
padding-left: 12px;
padding-right: 12px;
}

.nav-option a {
color: white;
text-decoration: none;
}

.nav-option a:hover {
color: white;
text-decoration: none;
}

.nav-option:hover {
background-color: #900;
}

#content-container {
min-height: 600px;
width: 72%;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 3%;
margin-left: 12%;
margin-right: 12%;
margin-bottom: 2%;
display: inline-block;
border-left: 2px solid #CCC;
border-right: 2px solid #CCC;
border-bottom: 2px solid #CCC;
background-color: white;
}

#content {
text-align: left;
background-color: white;
font-size: 20px;
font-family: sans-serif;
}

#content p {
line-height: 30px;
}

.content-title {
text-align: left;
font-family: serif;
display: block;
width: 90%;
border-bottom: 3px solid black;
padding-bottom: 7px;
font-size: 34px;
}

.tab {
width: 25px;
display: inline-block;
height: 1px;
}

#gallery-container {

}

#short-gallery-container {

}

#short-gallery-container .gallery-item {
display: block;
padding: 4px;
width: 60%;
border: 1px solid #EEE;
min-height: 30px;
line-height: 30px;
}

#short-gallery-container .gallery-item:hover {
background-color: #EEE;
}

#short-gallery-container .gallery-item .gallery-item-title {
font-family: sans-serif;
color: black;
}

#short-gallery-container .gallery-item .gallery-item-title:hover {
font-family: sans-serif;
color: #D20;
cursor: pointer;
}

#short-gallery-container .gallery-item .gallery-item-description {
display: none;
}

#gallery-container .gallery-item {
border:1px solid #DDD;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
height: 110px;
width: 89%;
margin-bottom: 15px;
overflow: hidden;
background-color: white;
display: block;
color: black;
}

#gallery-container .gallery-item:hover {
background-color: #EEE;
cursor: pointer;
}

#gallery-container .gallery-item .gallery-item-description {
color: #333;
font-size: 16px;
font-style: italic;
}

#gallery-container .gallery-item .gallery-item-title {
font-size: 30px;
font-family: sans-serif;
text-decoration: underline;
margin-top: 7px;
margin-bottom: 3px;
color: #000;
}

#gallery-container .gallery-item .gallery-item-thumbnail {
float: left;
border: 1px solid #D20;
margin-right: 5px;
}

#content a {
color: #00E;
text-decoration: none;
}

#content a:visited {
text-decoration: none;
color: #00E;
}

#content img {
border: 1px solid #D20;
margin: 5ps;
}

#content .caption {
padding: 3px;
font-family: sans-serif;
font-size: 18px;
color: #999;
font-style: italic;
}

.photo-resize {
max-height: 400px;
max-width: 400px;
min-height: 100px;
min-width: 100px;
width: 25%;
float: left;
margin: 5px;
}

.photo-vertical-resize {
width: 40%;
}

@media only screen and (max-width: 647px) {
	#gallery-container .gallery-item {
		border:1px solid #DDD;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
		padding-right: 5px;
		height: 140px;
		width: auto;
		margin-bottom: 15px;
		overflow: hidden;
		background-color: white;
		display: inline-block;
		color: black;
		text-align: center;
	}
	#gallery-container .gallery-item .gallery-item-description {
		display: none;
	}

	#gallery-container .gallery-item .gallery-item-title {
		font-size: 25px;
		font-family: sans-serif;
		text-decoration: underline;
		margin-top: 4px;
		margin-bottom: 2px;
		margin-right: 5px
		color: #000;
		text-align: left;
	}
	
	#gallery-container .gallery-item .gallery-item-thumbnail {
		display: inline-block;
		border: 1px solid #D20;
		margin-right: 0;
		float: none;
	}
}