<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />

	<title>Tyler Sengia</title>
	
	<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<script src="https://unpkg.com/showdown@1.9.0/dist/showdown.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/highlight.min.js"></script>    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/sunburst.min.css">
    <link rel="stylesheet" type="text/css" href="css/desktop-landscape.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>

<div id="titlebar" >
    <h1>Tyler Sengia</h1>
    <h3 id="username-tag" ><a href="https://github.com/ExpandingDev/">@ExpandingDev</a></h3>
    <div id="contact-bar" >
        <!-- TODO: Add icons for Github and other links -->    
    </div>
</div>

<div id="navbar" >
    <div class="nav-item" v-for="t in tabs" >
        <span v-on:click="selectTab(t)" >{{ t.title }}</span>
    
        <span class="nav-item-child" v-on:click="t.expanded = false" v-if="t.expanded && t.children.length > 0" >&lt; Back</span>
        <span class="nav-item-child" v-if="t.expanded && t.children.length > 0" v-for="c in t.children" v-on:click="selectTab(c)" >{{ c.title }}</span>    
    </div>
</div>

<div id="container" >
        <section id="content" >
            <div id="blog-view" >
                <blog-post v-if="displayPost" v-bind:post="selectedPost" />
            </div>
        </section>
</div>

<script type="text/javascript" src="js/navbar.js" ></script>
<script type="text/javascript" src="js/blog.js" ></script>
</body>
</html>